<div class="border-b border-r border-l">
  <div class="px-2 pt-2 pb-2 flex items-center flex-wrap">

    <%= cl_image_tag listing.listing_image.key, crop: :scale,width: 100, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']  if listing.listing_image.attached? %>


    <div class="pl-4">
      <h2 class="mb-1 flex flex-wrap items-center text-xl"><%= link_to listing.description, listing, class:"no-underline" %> 

      <div class="text-sm text-gray-700"><%= listing.description %></div>
      <% if user_signed_in? && current_user.id == listing.user_id  %>
        <div class="pt-2 flex flex-wrap items-center">
          <%= link_to edit_listing_path(listing), class:"no-underline mr-2" do %>
            <%= render_svg 'icons/edit', title: "Edit", styles: "fill-current text-gray-500 icon-sm" %>
          <% end %>

          <%= link_to listing, method: :delete, class:"no-underline", data: { confirm: 'Are you sure?' } do %>
            <%= render_svg 'icons/delete', title: "Delete", styles: "fill-current text-gray-500 icon-sm" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
