<div class="min-h-screen bg-yellow-400 flex justify-center items-center py-20">
  <div class="container mx-auto p-12 bg-gray-100 rounded-xl ">
    <h1 class="text-4xl uppercase font-bold from-current mb-8">Listings</h1>
    <div class="flex flex-wrap -mx-4">
      
  <% @listings.each do |listing| %> 
    
    <!-- Box-1 -->
    <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4 gap-4 mb-3 space-y-4 sm:space-y-0">
      <div class="bg-white">
        <div>
          <div class="shadow-lg hover:shadow-xl transform transition duration-500 hover:scale-105">
            <div>
              <%= cl_image_tag listing.listing_image.key, crop: :scale, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']  if listing.listing_image.attached? %>
              <div class="px-4 py-2">
                <h1 class="text-xl font-gray-700 font-bold"><%= number_to_currency(listing.price, precision: 0) %></h1>
                <div class="flex space-x-2 mt-2">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  </span>
                  <h3 class="text-lg text-gray-600 font-semibold mb-2"><%= listing.city %>, <%= listing.state %></h3>
                </div>
                <p class="text-sm tracking-normal"><%= listing.description %></p>
                <% if user_signed_in? %>
                  <%= link_to "Read more", listing, class: "block mt-12 w-full text-center bg-yellow-400 py-2 rounded-lg" %> 
                <% end %>
                <% if !user_signed_in? %>
                  <button class="block mt-12 w-full text-center bg-yellow-400 py-2 rounded-lg">Log in to view</button>
                <% end %>        
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  <% end %>
  </div>
 </div>
</div>
<%= render "shared/testimonial" %>