<% content_for :primary_content do %>
  <% if @listings.exists? %>
    <%= render @listings %>
  <% else %>
    <div class="p-10 text-center">
      <%= render_svg 'icons/empty' %>
      <p class="mb-4">Wow such empty... </p>
      <%= link_to 'Create a new listing', new_listing_path, class: "btn btn-purple btn-small" %>
    </div>
  <% end %>
<% end %>

<% content_for :secondary_content do %>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>

<%= render "shared/basic_layout" %>





